/* 
    ================================
    =   SECTION 1 :   RESET CSS    =
    ================================ 
*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300&display=swap');

html{
    font-size: 62.5%; /* 16px x 62.5% = 10 rem */
    background : linear-gradient(to top,rgba(0,0,0,.6) 50%,rgba(0,0,0,.6) 50%), url(../asset/bgbat.jpg) no-repeat fixed center center / cover;
}

body{
    font: 1.6rem "Montserrat", sans-serif;
    margin: 0;
    letter-spacing: 0.1rem; /* 1px */
    line-height: 1.6;
    /* background-color: var(--theme-bg-color); */
}

h1, h2, h3, p, figure, ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    font-weight: normal;
}

*{
    box-sizing: border-box;
}

ion-icon{
    vertical-align: -0.4rem;
}

/* scrollbar */
*{
    /* ff */
    scrollbar-width: thin;
    scrollbar-color: #000 #fff;
}
/* webkit */
::-webkit-scrollbar{
    width: 1rem;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 1rem var(--bgcolor-list);
}

::-webkit-scrollbar-thumb{
    background-color: var(--theme-text-color);
}
