/* 
    ================================
    =   SECTION 2 :   THEME CSS    =
    ================================ 
*/

@import url("reset.css");

/* Variables */

:root{
    --theme-bg-color : rgb(45, 52, 54);
    --theme-text-color : rgb(255, 255, 255);
    --letter-color-default : #222;
    --bgcolor-header : #222;
    --bgcolor-list : rgb(223, 230, 233);
}

/* header */

header{
    background-color: var(--bgcolor-header);
}

header > h1{
    text-align: center;
    color: var(--theme-text-color);
    line-height: 6.5rem;
    margin-bottom: 5rem;
}

header > h1 span{
    vertical-align: 0.2rem; /* 2px */
}

/* figure */ 

figure{
    max-width: 100rem; /* 1200px */
    margin: 0 auto;
    background-color: var(--theme-text-color);
    padding: 1rem;
}

figure img{
    display: inline-block;
    width: 100%;
}

figure figcaption ul{
    line-height: 6rem;
}

figure figcaption ul.list-movie li{
    padding: 0 .5rem;
}

figure figcaption ul.list-movie li:nth-child(2n + 2){ /* 1 sur 2 à partir du deuxième */
    background-color: var(--bgcolor-list);
}

/* detail */

details{
    background-color: var(--bgcolor-list);
}

details summary{
    line-height: 4rem;
    padding-left: 0.5rem;
}

details summary::-webkit-details-marker, details summary::marker {
    display: none;
    content: "";
}

summary:after{
    content: "+";
    color: #222;
    float: left;
    font-weight: bold;
    font-size: 2rem;
    margin-right: 0.3rem;
}

details[open] summary:after {
    content: "-";
}

details p{
    line-height: 2.5rem;
    padding-left: 0.5rem;
}

/* footer */

footer *{
    text-align: center;
    color: var(--theme-text-color);
    line-height: 4.5rem;
}

/* media queries responsive */
@media screen and (max-width : 90rem) {
    figure figcaption ul {
        line-height: 3rem;
    }
    details p {
        text-align: justify;
    }
}

@media screen and (min-width : 90rem) {
    figure figcaption ul {
        line-height: 3rem;
    }
    details p {
        text-align: justify;
    }
}

@media screen and (min-width : 100rem) {
    figure figcaption ul {
        line-height: 6rem;
    }
    details p {
        text-align: left;
    }
}

@media screen and (min-width : 120rem) {
    figure figcaption ul {
        line-height: 6rem;
    }
    details p {
        text-align: left;
    }
}
